.contenido {
    display: grid;
    align-items: flex-start;
    gap: 5rem;
}
@media (min-width: 768px){
    .contenido{
        grid-template-columns: 3fr 2fr;
    }
}
.carrito{
    padding: 3rem;
}

.producto{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4rem;
    align-items: center;
    padding: 3rem 0;
    border-bottom: 1px solid black;
    position: relative;
}
.producto:last-of-type {
    border-bottom: none;
}
.select {
    all: unset;
    color: black;
    text-align: center;
    background-color: rgb(125, 125, 125);
    border: 1px solid rgb(125, 125, 125);
    width: 100%;
    padding: .5rem;
    border-radius: 1rem;
}
.producto p{
    margin: 0 0 1rem 0;
}
.producto span {
    font-weight: 900;
    font-size: 3.2;
}
.nombre{
    font-weight: 700;
    font-size: 2.2rem;
}
.producto .precio{
    margin-top: 2rem;
    font-weight: 700;
    color: var(--primary);
}
.subtotal{
    font-size: 2.2rem;
}
.resumen {
    background-color: rgba(234, 234, 234, 0.563);
    padding: 3rem;
    border-radius: 1rem;
    position: sticky;
    top: 3rem;
}

.btn-eliminar{
    position: absolute;
}
.btn-eliminar:hover{
    cursor: pointer;
}