.about{
    margin-left: 3rem;
    margin-right: 3rem;
}
.contenido {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    margin-top: 5rem;

}
@media (min-width: 768px) {
    .contenido {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}